:root{
  --header-height: 3rem;

 /* --body-color: #d8c8c8;
  --card-accent: #ccaaae;
    --card-bg: #7c111d;
    --deep-ruby: #61040f;
    --dark-ruby: #420c13;
    --secondary-color: #9c122d; 
    --third-color: #C73659; 
    --accent-color: #efe530;
    --white-color: #f5f5f5; 
    --grey-color: #adaca8;
    --light-grey-color:rgba(255, 255, 255, 0.8); 
    --grey-color-dark: #2c2c2d; 
    --box-shadow: 0 4px 8px rgba(0,0,0,0.1);*/

    
  --body-color: hsl(10, 30%, 85%);
  --card-accent: hsl(345, 30%, 80%);
  --card-bg: hsl(350, 75%, 30%);
  --deep-ruby: hsl(350, 85%, 20%);
  --dark-ruby: hsl(350, 90%, 15%);
  --secondary-color: hsl(350, 80%, 35%);
  --third-color: hsl(350, 70%, 55%);
  --accent-color: hsl(55, 90%, 60%);
  --white-color: hsl(0, 0%, 95%);
  --grey-color: hsl(45, 5%, 70%);
  --light-grey-color: hsla(0, 2%, 38%, 0.8);
  --grey-color-dark: hsl(0, 0%, 20%);
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);


/*========== Font and typography ==========*/
  --body-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  --title-font: 'Raleway', sans-serif;
  --biggest-font-size: 2.75rem;
  --bigger-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .92rem;
  --small-font-size: .82rem;
  --smaller-font-size: .75rem;

    --border-radius-card: 2rem;
    --border-radius-small: 0.5rem;
  
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margines Bottom ==========*/
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000; 
 
.dark-theme {
 /* --body-color: hsl(340, 30%, 35%);*/

  --body-color: #342121;
  --card-accent: hsl(350, 45%, 55%);
  --card-bg: hsl(350, 80%, 20%);
  --deep-ruby: hsl(350, 60%, 20%);
  --dark-ruby: hsl(350, 60%, 12%);
  --secondary-color: hsl(350, 70%, 45%);
  --third-color: hsl(350, 80%, 60%);
  --accent-color: hsl(50, 100%, 60%);     
  --white-color: hsl(0, 10%, 90%);        
  --grey-color: hsl(0, 0%, 65%);
  --light-grey-color: hsla(0, 0%, 90%, 0.15); 
  --grey-color-dark: hsl(0, 0%, 25%);
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5); 
}


.accessible-theme {
  --body-color: #2e2525;
  --card-bg: #371d1d;
  --card-accent: #01f0df;
  --deep-ruby: #833001;
  --dark-ruby: #500202;
  --secondary-color: #eeff77;
  --third-color: #ffb700;
  --accent-color: #00ffff; 
  --white-color: #feffff;
  --grey-color: #d6d6d6;
  --light-grey-color: #aba9a9;
  --grey-color-dark: #333030;
  --box-shadow: none;


  --biggest-font-size: 3.5rem;
  --bigger-font-size: 2.5rem;
  --h1-font-size: 1.75rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: .9rem;
  --smaller-font-size: .75rem;

  .sign_in_title, .sign_up_title, sign_in_info, .sign_up_info {
    font-size: var(--h1-font-size);
    color: var(--white-color);
  }
  .sign_in_info, .sign_up_info{
    font-size: var(--h2-font-size);
}

  .sign_in_content, .sign_up_content {
    background-color: var(--deep-ruby);
    border: var(--accent-color) 2px solid;
  }
}
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1.15rem;
    --small-font-size: .875rem;
    --smaller-font-size: .810rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html {
  scroll-behavior: smooth;
}

body {
    background-color: var(--body-color);
    height: 100vh;
    font-family: var(--body-font);
    min-width: 300px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: var(--third-color);
}
button {
  cursor: pointer;
}

input {
  outline: none;
}

button, input {
  font-family: inherit;
  font-size: var(--normal-font-size);
  color: var(--light-grey-color);
  border: none;
  background-color: transparent;
}

button:hover {
  color: var(--white-color);
  background-color: var(--secondary-color);
}

button:active {
  background-color: var(--third-color);
  color: var(--grey-color-dark);
}

main {
  margin-top: var(--header-height);
  position: relative;
}
.section {
    width: 50vw;
  position: relative;
  padding: 0 1.25rem;
}

.section_title{
  font-family: var(--title-font);
  font-size: var(--bigger-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--secondary-color);
  text-align: center;
  /*margin-block: var(--mb-1-5);*/
}

.container {
  width: 100%;
  max-width: 2000px;
  margin-block: var(--mb-1-25);
}

.grid {
  display: grid;
  gap: 1.5rem;
}
/*
.header {
  width: 100vw;
  max-width: 3200px;
}*/

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: var(--z-fixed);
}


/*========================================*/
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  height: var(--header-height);
  background-color: var(--card-bg);
  box-shadow: 0 4px 8px #2c2c2d;
  gap: 1.5rem;
}
.nav_logo, .nav_link, .nav_toggle,
 .nav_dark, .nav_close, .sign_in_icon {
  color: var(--grey-color);
  transition: color 0.3s ease;
}
.nav_logo, .nav_link, .nav_dark i, .sign_in_icon i {
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  cursor: pointer;
}
.nav_toggle, .nav_close {
  font-size: var(--h2-font-size);
  cursor: pointer;
}
.nav_link:hover, .nav_logo:hover, .nav_toggle:hover,
 .nav_close:hover, .nav_dark:hover, .sign_in_icon:hover i {
  color: var(--white-color);
}

.nav_toggle {
  right:2rem;
  position: absolute;
}

.nav_close {
  position: absolute;
  top: .75rem;
  right: 1rem;
}

.nav_list {
  display: flex;
  gap: 3rem;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

/* ===== Alapértelmezetten desktop nézet ===== */
.nav_menu {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5rem;
  transition: none;
}


.nav_toggle, .nav_close, .change_theme_name, .sign_in_name {
  display: none;
}

/*=============== SIGN IN / SIGN UP ===============*/
.sign_in_sign_up_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: var(--z-modal);
}

.sign_in_sign_up_overlay {
  position: relative;
  width: 90%;
  max-width: 420px;
  min-height: 380px; /* legyen legalább ennyi */
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign_in_content,
.sign_up_content {
  position: relative;
  width: 100%;
  background-color: var(--card-bg);
  padding: 2rem;
  border-radius: var(--border-radius-card);
  box-shadow: 0 8px 24px rgba(0,0,0,0.3);
  border: var(--dark-ruby) 2px solid;
  transform: scale(0.8);
  opacity: 0;
  transition: all 0.4s ease;
}

.sign_in_content.active,
.sign_up_content.active {
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;
}

.sign_in_close,
.sign_up_close {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  font-size: 1.8rem;
  color: var(--grey-color-dark);
  cursor: pointer;
  transition: color 0.3s ease;
}
.sign_in_info, .sign_up_info{
  font-size: var(--h3-font-size);
  color: var(--dark-ruby);
  text-align: center;
  margin-top: var(--mb-1);
  margin-bottom: var(--mb-1-5);
}

.remember_forgot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--mb-1-5);
}

.sign_in_close:hover, .sign_up_close:hover {
  color: var(--white-color);
}

.sign_in_title, .sign_up_title {
  font-size: var(--h1-font-size);
  font-family: var(--title-font);
  font-weight: var(--font-bold);
  color: var(--dark-ruby);
  text-align: center;
  margin-bottom: var(--mb-1-5);
}

.sign_in_input, .sign_up_input {
  width: 100%;
  padding: var(--mb-0-75) var(--mb-1);
  border: 1px solid var(--grey-color-dark);
  border-radius: var(--border-radius-small);
  background-color: var(--white-color);
  color: var(--grey-color-dark);
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-1-25);
  transition: border-color 0.3s ease;
}

.sign_in_input:focus,
.sign_up_input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.sign_in_icon {
  display: flex;
  align-items: center;
  gap: var(--mb-0-5);
  cursor: pointer;
  color: var(--grey-color);
  transition: color 0.3s ease;
}

.sign_in_icon:hover i{
  color: var(--white-color);
}


.sign_in_btn,
.sign_up_btn {
  display: block;
  margin: 1rem auto 0;
  background-color: var(--dark-ruby);
  color: var(--white-color);
  padding: var(--mb-0-5) var(--mb-1-25);
  width: auto;
  border: var(--grey-color) solid 1px;
  border-radius: var(--border-radius-small);
  cursor: pointer;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.sign_in_btn:hover,
.sign_up_btn:hover {
  background-color: var(--accent-color);
  transform: translateY(-2px);
}

.sign_in_btn:active,
.sign_up_btn:active {
  transform: scale(0.95);
}

/* ===== Tablet nézet: 659px – 1100px ===== */
@media screen and (max-width: 1140px) and (min-width: 766px) {
  .nav {
    padding: 0 1.5rem;
    gap: 1rem;
  }

  .nav_list {
    gap: 2rem; /* kisebb távolság a linkek között */
  }

  .nav_menu {
    gap: 2rem;
  }

  .nav_logo {
    font-size: var(--h3-font-size);
  }
}

/* ===== Mobil nézet: max 568px ===== */
@media screen and (max-width: 765px) {
  .nav_menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 3rem 2rem;
    background-color: hsla(348, 74%, 22%, 0.8);
   /* backdrop-filter: blur(4px);*/
    gap: 2rem;
    transition: all 0.4s ease;
    z-index: var(--z-fixed);
  }
  .nav_toggle, .nav_close, .change_theme_name, .sign_in_name {
    display: inline-block;
  }

  .nav_list {
    align-items: flex-start;
    flex-direction: column;
    gap: 1.5rem;
  }
  .nav_dark {
    position: absolute;
    bottom: 5rem;
    right: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sign_icon{
    position: absolute;
    top: 4rem;
    right: 5rem;
  }
}

.show-menu {
  right: 0;
}
/*========================================*/
/*=============== HOME ===============*/
#home{
    padding-top: calc(var(--header-height)*3);
}
.home_container {
  padding: 3rem 1.5rem;
}

.home_row {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
  position: relative;
}

.home_picture {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  z-index: 1;
}


.home_picture .home_image {
    display: block;
    height: auto;
  width: 100%;
  object-fit: cover;
  

  -webkit-mask-image: url("../images/honeycomb.png");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;

  mask-image: url("../images/honeycomb.png");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  filter: drop-shadow(2px 8px 24px rgba(0,0,0,0.4));
}

.home_content {
  grid-column: 1 / 3;   /* a teljes sorban helyezkedik el */
  grid-row: 1 / 2;
  align-self: center;
  justify-self: end;
  max-width: 60%;
  padding: 2rem;
  border-radius: 1rem;
  text-align: left;
  z-index: 2;
  background: rgba(0,0,0,0.2);
  backdrop-filter: blur(2px);
  margin-right: 5%; /* így rácsúszik a kép jobb oldalára */
}

.home_info {
  font-size: var(--h3-font-size);
  color: var(--white-color);
  margin-bottom: 1rem;
}

.home_links {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.home_link {
  background-color: var(--card-bg);
  color: var(--grey-color);
  padding: 0.6rem 1.2rem;
  border-radius: var(--border-radius-small);
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease;
}

.home_link:hover {
  background-color: var(--secondary-color);
  color: var(--grey-color-dark);
}

/* Mobil nézet */
@media screen and (max-width: 768px) {
  .home_row {
    grid-template-columns: 1fr;
  }

  .home_content {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
  }
}

/*==============================7*/
.fav_section_container, .signatures_section_container {
  padding-block: calc(var(--header-height) + 2rem);
  background-color: var(--deep-ruby);
  padding: 1.5rem 1.5rem;
  /*height: calc(60vh - var(--header-height));*/
  height: auto;
  padding-block-end: 3rem;
  box-shadow: #2c2c2d 0px 4px 8px;
  display: grid;
  overflow: visible;
}

#signatures {
margin-block: var(--header-height);
}

.fav_title, .signatures_title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--secondary-color);
  text-align: center;      /* középre */
  margin-bottom: 2rem;     /* legyen tér a carousel előtt */
}

.fav_card, .signature_card{
  background-color: var(--card-bg);
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: var(--border-radius-card);
}

@media screen and (max-width: 768px) {
  .fav_card, .signature_card {
    width: 200px;
    height: 200px;
  }
}
@media screen and (max-width: 480px) {
  .fav_card, .signature_card {
    width: 180px;
    height: 180px;
  }
}

.fav_card_bg, .signature_card_bg {
  background-color: #ddd;
  border-radius: var(--border-radius-card);
  box-shadow: inset 10px 10px 10px #999,
              inset -10px -10px 10px #fff;
  width: 100%;
  height: 100%;
  transition: transform 0.8s, box-shadow 0.8s;
 aspect-ratio: 0.5;
}
.fav_card_bg .fav_card_title,
 .signature_card_bg .signature_card_title {
      position: absolute;
      bottom: 20px;
      left: 30px;
      color: var(--deep-ruby);
      font-weight: bold;
      font-size: 1.2rem;
      transition: transform 0.8s ease;
      z-index: 2;
}


.fav_card:hover img,
.signature_card:hover img {
      transform: translateY(-50%) scale(1.1);
      z-index: 2;
    }
.fav_card:hover .fav_card_bg span,
.signature_card:hover .signature_card_bg span {
      transform: translateX(80deg) translateY(-10px) scale(1.1);
    }
.fav_card:hover .fav_card_ingredients,
.signature_card:hover .signature_card_ingredients {
  visibility: visible;
  transform: translateY(30%);
}
/*
.fav_card:hover .fav_card_title {
  transform: translateY(-10px)  scale(1.5);
  z-index: 5;
}*/

.fav_card:hover .fav_card_title,
.signature_card:hover .signature_card_title {
  position: absolute;
  bottom: 20px;
  left: 30px;
  color: var(--deep-ruby);
  font-weight: bold;
  font-size: 1.2rem;
  transform: rotateY(-70deg) scale(3); /* <-- ugyanakkora, de ellentétes */
  transform-origin: bottom left;
  transition: transform 0.8s ease;
}

.fav_card:hover .fav_card_bg,
.signature_card:hover .signature_card_bg {
 transform: rotateX(70deg);
  box-shadow: 12px 24px 24px rgba(0,0,0,0.4);
}


.fav_card_image,
.signature_card_image {
  position: absolute;
  background-repeat: none;
  width: 50%;
  height: 50%;
  inset: 50%;
  top: 25%;
  left: 25%;
  transition: transform 0.8s ease;
  z-index: 5;
}
.fav_card_ingredients,
.signature_card_ingredients {
      position: absolute;
      left: 20%;
      right: 20%;
      bottom: -.5rem;
      color: var(--grey-color-dark);
      font-size: 0.9rem;
      background-color: rgba(199, 54, 89, 0.6);
     /* backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);*/
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.2);
      visibility: hidden;
      transition: transform 0.8s ease;
      z-index: 2000;
}
.fav_card_ingredients_list,
.signature_card_ingredients_list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0.25rem;
}

.fav_card_ingredients_list .fav_card_ingredients_list_item,
.signature_card_ingredients_list .signature_card_ingredients_list_item {
  white-space: nowrap;
  padding: 4px 8px;
  border-radius: 4px;
}


.carousel_loop {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.carousel_track {
  display: flex;
 /* animation: scrollStep 15s steps(6) infinite;
  /*animation: scrollLoop 120s linear infinite;*/
 /* animation: name duration timing-function delay iteration-count direction fill-mode;*/
 
}

.carousel_item {
  margin-right: 30px;
  flex: 0 0 auto;
}

/* folyamatos jobbra-balra animáció */
@keyframes scrollLoop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


/*============  SCROLL UP ==================*/
.scrollup {
  position: fixed;
  display: inline-block;
  bottom: -50%;
  right: 2rem;
  padding: var(--mb-0-5);
  background-color: var(--card-bg);
  color: var(--grey-color);
  border-radius: var(--border-radius-small);
  box-shadow:  1px 2px 4px var(--grey-color-dark);
  transition: all .3s ease;
}

.scrollup i {
  font-size: var(--h1-font-size);
  color: var(--grey-color);
}

.scrollup:hover {
  background-color: var(--secondary-color);
  transform: translateY(-0.5rem);
}

.scrollup:hover i{
  color: var(--white-color);
}

.show-scroll {
  bottom: 2rem;
}